.cards-list {
  margin: 50px 0;
  width: 100%;
  min-height: 800px;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  @include style-outside;
}